* {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	list-style: none;
	color: #FFFFFF;
	text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

body {
	background-color: #333;
	font-size: 16px;
	font-family: 'Averia Sans Libre', cursive;
}

p {
	font-family: 'Averia Sans Libre', cursive;
	font-size: 1.5rem;
	color: #FFFFFF;
	
}

/*[Navigation]*/
/**/.Navigation {
/**/	display: flex;
/**/	background-color: #555;
/**/	height: 64px;
/**/}
/**/#Icon {
/**/	height: 64px;
/**/	width: 64px;
/**/}
/**/#NavList {
/**/	display: flex;
/**/	height: 64px;
/**/	flex-direction: row;
/**/	align-items: center;
/**/}
/**/#NavList li {
/**/	margin-left: 15px;
/**/}
/**/#NavActive, #NavList li:hover {
/**/	border-bottom: solid #000;
/**/}

/*[Index/Home Text and Image]*/
/**/.HomeImageAndText {
/**/	display: flex;
/**/	height: 920px;
/**/	flex-direction: column;
/**/	align-items: center;
/**/	justify-content: center;
/**/}
/**/#HomeImage {
/**/	width: 300px;
/**/	height: auto;
/**/}
/**/#HomeText {
/**/	width: 450px;
/**/	text-align: center;
/**/    margin-top: 15px;
/**/}

/*[Footer]*/
/**/.Footer {
/**/	display: flex;
/**/	background-color: #222;
/**/	height: 23px;
/**/}
/**/.Footer p {
/**/	font-size: 1em;
/**/}

.SocialsTextAndButtons {

}
.ButtonImages {
	height: 128px;
	width: 128px;
	background-color: #333;
	cursor: pointer;
	margin: 0px 5px;
}


